root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{md,yml,yaml,json,uproject,uplugin}]
end_of_line = lf

[*.{cpp,h,inl,cs}]
end_of_line = lf

[*.{ps1,bat,cmd,sln,vcxproj,filters,props}]
end_of_line = crlf
